body
{
	margin-left: 10px;
	background-color: #ff0000;

}

li
{
	margin-left: 10px;
	list-style: none;
}

button
{
	margin-left: 10px;
}

.contentcontainer{
	display: block;
	width: 60%;
	margin: 0 auto;
}
